#banner {
  height: 30vh;
  background: url(images/watur.jpg);
  background-size: cover;
  margin-bottom: 20px;
}

.myLogo {
  width: 70%;
}

#myLogo {
  width: 25%;
}

#pageOg {
  width: 70%;
  justify-self: center;
}

#coraline,
#window {
  height: 100%;
}

#logo {
  height: 60%;
}

#motion {
  height: 90%;
}

.display {
  display: flex;
  flex-flow: column;
  height: 55vh;
  overflow: auto;
}

.project {
  display: flex;
  height: 20vh;
  justify-content: space-around;
  margin: 2em;
}

nav {
  justify-self: right;
  padding: 1em 2em 0 0;
}

h1 {
  color: #ffffff;
  justify-self: center;
  margin-top: 0.3em;
  font-family: "Montserrat Underline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-size: 6em;
}

h2 {
  text-align: center;
}

h3 {
  font-family: "Petrona", serif;
  font-size: 2rem;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin-bottom: 0;
  color: #4d8f14;
}

h4 {
  font-family: "Montserrat Underline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-size: 1.5em;
  margin: 0;
  color: #1a2e18;
}

.description {
  text-align: center;
  max-width: 400px;
}

.description,
p,
a {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p {
  padding: 0 1em;
  color: #003248;
}

a {
  color: #9ad9e6;
}

nav > a,
li > a {
  font-weight: 600;
  margin-left: 1em;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

/* GRID */
main {
  display: grid;
  grid-template-areas:
    "display aside"
    "display aside";
  grid-template-columns: 3fr 1fr;
}

aside {
  padding-left: 10px;
  border-left: 1px solid #bfbfbf;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

aside > p {
  color: #1a2e18;
  text-align: center;
}

li > a {
  color: #1a2e18;
}

h2 > a {
  color: #4d8f14;
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 1em 3em 0 3em;
  margin-top: 0;
  border-top: #bfbfbf 1px solid;
}

li {
  text-align: start;
}

/* footer {
  border-top: 1px solid #bfbfbf;
  margin-top: 10px;
  box-shadow: 0 -3px 4px #bfbfbf;
} */

#ui {
  display: grid;
}

span {
  display: flex;
  justify-content: space-around;
}

.wireframes {
  width: 40%;
}

.covers {
  width: 30%;
}

#bookMock {
  width: 40%;
}

img {
  border-radius: 10px;
  box-shadow: 5px 5px 10px #242424;
}

#storyboard,
.myLogo,
#myLogo {
  box-shadow: none;
}

#logoDesc {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-height: 40vh;
}

#colorCodes {
  width: 100%;
  box-shadow: none;
}

.type {
  box-shadow: none;
  width: 90%;
}
