<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@1,600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header id="banner">
      <nav>
        <a href="../index.html">Home</a>
        <a href="">About me</a>
      </nav>
      <h1>Book Cover Redesign</h1>
    </header>
    <main>
      <div class="display">
        <h3>"Coraline" - Neil Gaiman</h3>
        <p>
          "Coraline", a fictional novel directed at children and adolescents, is
          known for its darker themes of child neglect, early independency and
          overall unsettling tone. </br>
          Nevertheless, it is quite popular and was even adapted by Laika Studio
          in 2009.
        </p>
        <h3>Concept</h3>
        <p>It was a challenge at first, to figure out a good visual representation of the book's both grim and hopeful story, while still appealing to children. After some thought, it was clear that the cover needed to be somewhat mysterious to encourage curious kids to find out more. <br> Thus, I decided to use a more flat look for the imagery, in order to keep the book from looking to "adult" and "boring". Choosing a darker colour to represent the story's mystery & serious themes, I needed a lighter colour to contrast that and represent the hopeful ending.</p>
        <h3>Production</h3>
        <span>
          <img class="covers" src="../images/key.png" alt="cover featuring a dark blue background and yellow keyhole">
          <img class="covers" src="../images/wish.png" alt="cover featuringa dark blue background and a stylized image of two black buttons in a box">
          <img class="covers" src="../images/coraline.png" alt="cover featuring a dark blue background and a black cat">
        </span>
        <h3>Result</h3>
        <p>Having worked out the cover's background, I needed a strong visual that would represent the whole story. My first option was a stylized image of buttons from the movie adaptation. Even though it was a good fit, I wasn't sure the publishing company would get the license for it from Laika, so I changed course and chose a black cat instead, which not only represnted a character from the book itself but the book's message: <br> To never trust beautiful illusions.</p>
        <span>
          <img id="bookMock" src="../images/coraline_mock.png" alt="mock image of a book with the designed cover on a wooden table">
        </span>
      </div>
      <aside>
        <!-- insert logo img -->
        <p>
          this is some text that i need in order to see the fucking structure
        </p>
        <p>info about myself I guess goddamn</p>
      </aside>
    </main>
  </body>
</html>
