<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@1,600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Branding</title>
  </head>
  <body>
    <header id="banner">
      <nav>
        <a href="../index.html">Home</a>
      </nav>
      <h1>Pom</h1>
    </header>
    <main>
      <div class="display">
        <h3>Logotype</h3>
        <div id="logoDesc">
          <p>
            I chose "Pom" as my brand name, since I have been using it as my
            artisitic pseudonym for many years. <br />
            The logotype, which you can see belwo & in the side bar, was
            inspired by the letter P and the colours featured are the core brand
            colours.
          </p>
          <img
            id="myLogo"
            src="../images/my_logo-04.png"
            alt="image of a flower-like vector grpahic"
          />
        </div>
        <h3>Colours</h3>
        <p>
          I will admit, it was kind of hard choosing the colours. First instinct
          is to start at my favourite colours and go from there but that's not
          helpful when I have a large palette of colours I love. So, after
          asking for advice from others, I came to this set of colours:
        </p>
        <span>
          <img id="colorCodes" src="../images/codes-05.png" alt="color codes" />
        </span>
        <p>
          The neutral colours I have chosen are a classic black and white,
          seeing as I have colours going on as is. The combination of greens and
          blues projects a calm and colleted demeanor, which is something I
          strive for in my career.
        </p>
        <h3>Typography</h3>
        <p>
          When it came to typography, I limited myself to two fonts with
          extensive families. <br />
          Montserrat, which will be used for most running text. It's modern
          geometric appearance connects to the image of a graphic designer well.
          Its cousin font, Montserrat Underline, serves as the logotype, not
          straying too far from the cohesive visual identity but still standing
          out.
        </p>
        <span
          ><img
            class="type"
            src="../images/mont-02.png"
            alt="montserrat samples"
        /></span>
        <span
          ><img class="type" src="../images/mont-06.png" alt="petrona samples"
        /></span>
      </div>
      <aside>
        <img
          class="myLogo"
          src="/images/my_logo-04.png"
          alt="image of a flower-like vector grpahic"
        />
        <h4>Pom</h4>
        <p>
          Stanislava Vykhodets <br />
          2nd year NMD student at Jönköping University
        </p>
        <ul>
          <li><a href="./book.html">Book Cover</a></li>
          <li><a href="./motion.html">Motion Design</a></li>
          <li><a href="./ui.html">UI Redesign</a></li>
          <li><a href="./iac.html">Other Works</a></li>
        </ul>
      </aside>
    </main>
  </body>
</html>
