<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@1,600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Posters</title>
  </head>
  <body>
    <header id="banner">
      <nav>
        <a href="../index.html">Home</a>
      </nav>
      <h1>Other Works</h1>
    </header>
    <main>
      <div class="display">
        <h3>Hi Maggie!</h3>
        <p>
          Since I am currently reworking my portfolio, I wanted to dedicate this page to my application to IAC. You are of course free to explore the rest of my portfolio but like I said, it's in the middle of reconstruction so you won't find much. </br>
          Have fun! </br> -Pom
        </p>
        <h3>Posters</h3>
        <span class="iacSpan">
          <img class="covers" src="../images/iac/poster-01.png" alt="green poster advertising a waffle event">
          <img class="covers" src="../images/iac/firefly_1-01.jpg" alt="pblack and white poster of the game 'The Last of Us'">
          <img class="covers" src="../images/iac/poster-02.png" alt="red and white poster advertising a picnic event">
        </span>
        <h3>Vector Graphics</h3>
        <span class="iacSpan">
          <img class="covers" src="../images/iac/gameboy-01.png" alt="stylized image of a gameboy like console">
          <img class="covers" src="../images/iac/Dragonfly-01.png" alt="stylized image of a dragonfly midflight">
          <img class="covers" src="../images/iac/plant-02.png" alt="stylized image of a plant in a pot">
        </span>
        <h3>Covers</h3>
        <span>
          <img class="covers" src="../images/iac/orion_alone.jpg" alt="book cover featuring two ducks">
          <img class="covers" src="../images/iac/kong.png" alt="magazine cover featuring a gorilla">
          <img class="covers" src="../images/iac/neon.png" alt="cover featuring stacked TVs and some text">
        </span>
      </div>
      <aside>
        <img
          class="myLogo"
          src="/images/my_logo-04.png"
          alt="image of a flower-like vector grpahic"
        />
        <h4>Pom</h4>
        <p>
          Stanislava Vykhodets <br />
          2nd year NMD student at Jönköping University
        </p>
        <ul>
          <li><a href="./book.html">Book Cover</a></li>
          <li><a href="./branding.html">Branding</a></li>
          <li><a href="./motion.html">Motion Design</a></li>
          <li><a href="./ui.html">UI Redesign</a></li>
        </ul>
      </aside>
    </main>
  </body>
</html>
