<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@1,600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Motion</title>
  </head>
  <body>
    <header id="banner">
      <nav>
        <a href="../index.html">Home</a>
        <a href="">About me</a>
      </nav>
      <h1>Motion Design</h1>
    </header>
    <main>
      <div class="display">
        <h3>Concept</h3>
        <p>
          Personally, I don't enjoy the taste of beer but I love the idea of it.
          I was inspired to create a short bumper ad, although I have to admit
          that it is pushing the time limit a little. <br />
          The target audience are young adults (20 and up) and adults, who have
          grown up with the idea of beer as a reward at the end of a hard day
          being repetitively shown in media. Befitting this idea, the overall
          mood of the video is supposed to be peaceful, almost like breathing
          out after holding your breath for too long. <br />
          In order to play into the nostalgia a little more, I chose a serif
          font.
        </p>
        <h3>Storyboard</h3>
        <img src="../images/storyboard.png" alt="" />
        <h3>Result</h3>
        <span>
          <video
            width="1220"
            height="380"
            src="../images/beer.mp4"
            controls
          ></video>
        </span>
        <h3>Attributions</h3>
        <p>
          Stock footage provided by Freepik, downloaded from
          <a href="https://www.videvo.net/">videvo.net</a> <br />
          Music:
          <a href="https://www.purple-planet.com/">www.purple-planet.com</a>
        </p>
      </div>
      <aside>
        <!-- insert logo img -->
        <p>
          this is some text that i need in order to see the fucking structure
        </p>
        <p>info about myself I guess goddamn</p>
      </aside>
    </main>
  </body>
</html>
