<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@1,600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>UI Redesign</title>
  </head>
  <body>
    <header id="banner">
      <nav>
        <a href="../index.html">Home</a>
      </nav>
      <h1>UI Redesign</h1>
    </header>
    <main>
      <div class="display">
        <div id="ui">
          <h3>Original</h3>
          <p>
            I chose the "<a href="https://www.timeanddate.com/">timeanddate</a>"
            homepage for this assignment. It has been quite useful to me
            throughout the years, not only offering indepth information about the
            weather but also celestial bodies. </br> Nevertheless, the homepage seems a bit cluttered at first glance and the overal theme had no connection to the websit's content.
          </p>
          <img id="pageOg" src="../images/homepage.png" alt="screencapture of the timeanddate homepage">
          <h3>Redesign</h3>
          <p>After thinking about the website's purpose & context, I came to the conclusion that a less detailed homepage could help visitors not get lost. </br>On top of that, I decided to adjust the colours of the website to a palette that better represents weather & space. When it came to the typography itself, I didn't see any flaws with it, since it represented the website well, plus keeping some features the same as before would prevent the page from losing it's character. </br>To add a friendlier and more immersive feel to it, I would change the background based on what time it is for the user.</p>
          <span>
            <img class="wireframes" src="../images/Wireframe - 1.png" alt="redesigned homepage in dark version">
            <img class="wireframes" src="../images/Wireframe - 2.png" alt="redesigned homepage in light version">
          </span>
          <p>Feel free to check out the final product yourself on <a href="https://www.figma.com/proto/mpBawsBadAHRqsIDMm3eY8/Portfolio?node-id=4-7&node-type=canvas&t=yXTlNKGTHKmAcEm4-0&scaling=min-zoom&content-scaling=fixed&page-id=4%3A2&starting-point-node-id=4%3A7">Figma</a>.</p>
        </div>
      </div>
      <aside>
        <img
          class="myLogo"
          src="/images/my_logo-04.png"
          alt="image of a flower-like vector grpahic"
        />
        <h4>Pom</h4>
        <p>
          Stanislava Vykhodets <br />
          2nd year NMD student at Jönköping University
        </p>
        <ul>
          <li><a href="./branding.html">Branding</a></li>
          <li><a href="./book.html">Book Cover</a></li>
          <li><a href="./motion.html">Motion Design</a></li>
          <li><a href="./iac.html">Other Works</a></li>
        </ul>
      </aside>
    </main>
  </body>
</html>
